@page "/"

@inject IYoutubeAppService YoutubeAppService
@inject NavigationManager Navigation
@inject IDeviceService DeviceService

@using YoutubeDownloader.Domain.Commands
@using YoutubeDownloader.SharedUI.Components.Shared
@using YoutubeDownloader.SharedUI.Interfaces
@using YoutubeDownloader.SharedUI.Models
@using YoutubeDownloader.SharedUI.Components.Pages.Streams

<PageTitle>Youtube Downloader</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">

    <div class="search-container @(_hasSearched ? "search-top" : "search-center")">
        <MudStack AlignItems="AlignItems.Center" Class="mb-2">
            <MudText Typo="Typo.subtitle1">
                Download video and audio streams in your preferred format
            </MudText>
        </MudStack>

        <MudCard Elevation="3" Class="pa-4">

            <MudStack Row="true" Spacing="2">

                <MudTextField T="string"
                              Placeholder="Paste YouTube URL here..."
                              @bind-Value="ViewModel.Url"
                              FullWidth="true" />

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           Disabled="_isDownloading"
                           OnClick="Search"
                           StartIcon="@Icons.Material.Filled.Search">

                    Search

                </MudButton>

            </MudStack>

            @if (!string.IsNullOrWhiteSpace(ViewModel.ThumbnailUrl))
            {
                <MudCard Class=@($"mt-4 thumbnail-card {(_hasResults ? "thumb-visible" : "thumb-hidden")}")>

                    <MudCardMedia Image="@ViewModel.ThumbnailUrl"
                                  Height="468" />

                    <MudCardContent>

                        <MudText Typo="Typo.subtitle1" Class="mt-1">
                            @ViewModel.Title
                        </MudText>

                    </MudCardContent>

                </MudCard>
            }

            <LoadingProgressLinear IsSearching="@_isSearching" StatusMessage="@_statusMessage" DownloadPercent="@_downloadPercent" />

            <MudCard Class="@_thumbnailClass">

                <YoutubeVideoStreams streams="@ViewModel.VideoStreams"
                                     DownloadingStreamId="@_downloadingStreamId"
                                     DownloadPercent="@_downloadPercent"
                                     IsDownloading="@_isDownloading"
                                     OnClickCallback="DownloadAsync" />

                <YoutubeAudioStreams streams="@ViewModel.AudioStreams"
                                     DownloadingStreamId="@_downloadingStreamId"
                                     DownloadPercent="@_downloadPercent"
                                     IsDownloading="@_isDownloading"
                                     OnClickCallback="DownloadAsync" />

            </MudCard>

        </MudCard>
    </div>

</MudContainer>

@code {

    [Parameter]
    public EventCallback<StreamViewModel> OnClickCallback { get; set; }

    private bool _isSearching;
    private bool _hasSearched = false;
    private int _downloadPercent;
    private string _statusMessage = "";
    private string? _downloadingStreamId;
    private int _lastReportedPercent = -1;
    private bool _isDownloading => !string.IsNullOrEmpty(_downloadingStreamId);
    private bool _hasResults => ViewModel.VideoStreams.Any() || ViewModel.AudioStreams.Any();
    private string _thumbnailClass => $"mt-4 thumbnail-card {(_hasResults ? "thumb-visible" : "thumb-hidden")}";

    private YoutubePageViewModel ViewModel = new();

    private async Task Search()
    {
        _hasSearched = false;
        _isSearching = true;
        _statusMessage = "Searching video...";

        ViewModel.ClearStreams();
        await InvokeAsync(StateHasChanged);
        await ViewModel.SearchAsync(YoutubeAppService);

        _isSearching = false;
        _hasSearched = true;
    }

    private async Task DownloadAsync(StreamViewModel stream)
    {
        _statusMessage = "Starting download...";
        _downloadPercent = 0;
        _downloadingStreamId = stream.Id;

        await InvokeAsync(StateHasChanged);

        var command = new DownloadCommand(
            stream.VideoId,
            stream.Title,
            stream.ContainerName,
            stream.VideoCodec,
            stream.Resolution,
            stream.AudioCodec,
            stream.IsAudioOnly
        );

        var progress = new Progress<double>(p =>
        {
            var percent = (int)Math.Floor(p * 100);

            if (percent != _lastReportedPercent)
            {
                _lastReportedPercent = percent;

                _downloadPercent = percent;
                _statusMessage = $"Downloading {stream.ContainerName} {percent}%";

                InvokeAsync(StateHasChanged);
            }
        });

        var download = await YoutubeAppService.DownloadFileAsync(
            command,
            progress,
            new CancellationToken());

        _downloadingStreamId = null;

        if (DeviceService.Desktop)
        {
            _statusMessage = $"Download concluído com sucesso!";
            await DeviceService.OpenFileAsync(download.FilePath);
        }
        else
        {
            Navigation.NavigateTo($"/api/download/{download.Id}", true);
            _statusMessage = "Download pronto! O navegador iniciará a transferência.";
        }

        await InvokeAsync(StateHasChanged);
    }
}
