@page "/"
@using YoutubeDownloader.SharedUI.Components

<PageTitle>Youtube Downloader</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-2">

    <Search OnSearch="Search" />

    @if (_hasData)
    {
        <div class="results">

            <Thumbnail Url="@_viewModel.ThumbnailUrl"
                       Title="@_viewModel.Title" />

            <Format SelectedFormat="@_selectedFormat"
                    OnFormatChanged="OnFormatChanged" />

            <Quality SelectedQuality="@_selectedQuality"
                     SelectedFormat="@_selectedFormat"
                     OnQualityChanged="OnQualityChanged" />

            <Actions EstimatedSize="@_estimatedSize"
                     StatusMessage="@_statusMessage"
                     OnClickDownload="Download"
                     OnClickCancel="Cancel" />

        </div>
    }
    else
    {
        <Information />
    }

</MudContainer>