@page "/youtube"
@rendermode InteractiveServer
@inject IYoutubeService _service

<h3>Youtube Downloader</h3>
<p role="status">Informe a url do vídeo aqui:</p>

<div>
    <InputText id="url" @bind-Value="Url" class="form-control" placeholder="Informe aqui a url do vídeo..." style="display: inline; margin-right: 5px; width:70%;" />
    <button class="btn btn-outline-primary" @onclick="GetManifestInfo">Obter Informações</button>
</div>
<hr />
@if (Loading)
{
    <p><em>@Message</em></p>
}
else
{
    <h3>Download de Vídeo</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Formato</th>
                <th>Video Codec</th>
                <th>Resolução</th>
                <th>Tamanho</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stream in Streams.Where(s => !s.IsAudioOnly))
            {
                <tr>
                    <td>@stream.ContainerName</td>
                    <td>@stream.VideoCodec</td>
                    <td>@stream.Resolution</td>
                    <td>@stream.DisplaySize</td>
                    <td>
                        <button class="btn btn-outline-warning" @onclick="() => SubmitSelection(stream)">Baixar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />
    <h3>Download de Áudio</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Formato</th>
                <th>Audio Codec</th>
                <th>Audio</th>
                <th>Tamanho</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stream in Streams.Where(s => s.IsAudioOnly))
            {
                <tr>
                    <td>@stream.ContainerName</td>
                    <td>@stream.AudioCodec</td>
                    <td>@stream.IsAudioOnly</td>
                    <td>@stream.DisplaySize</td>
                    <td>
                        <button class="btn btn-outline-warning" @onclick="() => SubmitSelection(stream)">Baixar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}