@using YoutubeDownload.Blazor.Models

<tr>
	<td>
		<span class="badge bg-dark">
			@stream.ContainerName
		</span>
	</td>

	<td>
		@if (stream.VideoCodec.StartsWith("vp"))
		{
			<span class="badge bg-primary">
				<i class="bi bi-camera-video-fill"></i>
				@stream.VideoCodec
			</span>
		}
		else if (stream.VideoCodec.StartsWith("avc"))
		{
			<span class="badge bg-success">
				<i class="bi bi-film"></i>
				@stream.VideoCodec
			</span>
		}
		else
		{
			<span class="badge bg-info text-dark">
				@stream.VideoCodec
			</span>
		}
	</td>

	<td>@stream.Resolution</td>
	<td>@stream.DisplaySize</td>

	<td class="text-end">
		<button class="btn btn-outline-warning btn-sm rounded-circle"
				style="width:40px;height:40px"
				title="Download"
				@onclick="TriggerEvent">
			<i class="bi bi-cloud-arrow-down"></i>
		</button>
	</td>
</tr>

@code {
	[Parameter]
	public StreamViewModel stream { get; set; }

	[Parameter]
	public EventCallback<StreamViewModel> OnClickCallback { get; set; }

	private async Task TriggerEvent()
	{
		await OnClickCallback.InvokeAsync(stream);
	}
}
