@using Microsoft.AspNetCore.Components.Routing
@using YoutubeDownloader.SharedUI

<Router AppAssembly="@typeof(YoutubeDownloader.SharedUI.Components.Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(YoutubeDownloader.SharedUI.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(YoutubeDownloader.SharedUI.Components.Layout.MainLayout)">
            <p role="alert">Desculpe, não encontramos essa página no Desktop.</p>
        </LayoutView>
    </NotFound>
</Router>